.ingredient {
    display: flex;
    flex-direction: row;
    width: 568px;
    max-height: 80px;
    border-radius: 20%;
    padding-left: 24px;
  }

  .ingredient_background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1c21;
    border-radius: 40px;
    height: 80px;
    width: 536px;
  }