.container {
  position: absolute;
  width: 600px;
  /* height: 912px; */
  left: 1020px;
  top: 128px;
}

.burgerComponents {
  composes: custom-scroll from global;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 580px;
  height: 656px;
  left: 16px;
  top: 100px;
  overflow-x: hidden;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 568px;
  height: 64px;
  left: 16px;
  top: 796px;
}

.ingredients {
  composes: custom-scroll from global;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 500px;
  overflow: auto;
}
.ingredients::-webkit-scrollbar {
  width: 10px;
}

.ingredient_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c1c21;
  border-radius: 40px;
  height: 80px;
  width: 512px;
  margin-left: 24px;
}
