.container {
  position: absolute;
  width: 2000px;
  height: 1080px;
  background: #131316;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 480px;
  height: 430px;
  left: calc(50% - 480px / 2);
  top: 288px;
}
.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 24px;

  width: 480px;
  height: 286px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.input {
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 320px;
  height: 192px;
  left: 380px;
  top: 228px;
}
