.modalBackground {
  width: 2000px;
  height: 1080px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.content {
  display: flex;
  border-radius: 40px;
  flex-direction: column;
  background: #1c1c21;
  position: fixed;
  width: 720px;
  min-height: 0;
  left: 640px;
  top: 230px;
}

.closeIcon {
  position: absolute;
  top: 60px;
  right: 40px;
}
