.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  /* width: 584px; */
  width: auto;
  /* height: 214px; */
  height: auto;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  flex: none;
  order: 0;
}
.order_id {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 536px;
  height: 24px;
  justify-content: space-between;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.status {
  /* width: 640px; */
  height: 24px;

  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.status_done {
  color: #00cccc;
}

.ingred_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 24px;
  width: 536px;
  height: 64px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.ingredients {
  display: flex;
  width: 304px;
  height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.items_picture {
  margin-left: -16px;
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 536px;
  height: 30px;
}
.price {
  display: flex;
  flex-direction: row;
}
